<!DOCTYPE html>
<html>
  <head>
    <title>多人抽奖</title>
    <meta charset="UTF-8">
  </head>
  <body style="background: aqua">
    <h2>Please input your infomation</h2>
    <h2>因为兼顾实际情况，我们只设置四种情形</h2>
    <h2>情形1：都一次性抽完</h2>
    <h2>情形2：3等奖分批次，1，2等奖一次性抽完</h2>
    <h2>情形3：2，3等奖分批次，1等奖一次性抽完</h2>
    <h2>情形4：都分批次</h2>
    <form method="post" action="/info" enctype="multipart/form-data">
      <p>设置一等奖中奖人数:<br><input type="number" name="num1">
      <br>
      <input type="radio" name="panduan1" value="yes" checked>一次性抽完
      <br>
      <input type="radio" name="panduan1" value="no">分批次抽完
      </p>
      <p>设置二等奖中奖人数:<br><input type="number" name="num2">
      <br>
      <input type="radio" name="panduan2" value="yes" checked>一次性抽完
      <br>
      <input type="radio" name="panduan2" value="no">分批次抽完
      </p>
      <p>设置三等奖中奖人数:<br><input type="number" name="num3">
      <br>
      <input type="radio" name="panduan3" value="yes" checked>一次性抽完
      <br>
      <input type="radio" name="panduan3" value="no">分批次抽完
      </p>
      <p>参与抽奖人员名单（注意：文件中请用‘，’隔开人名）:<br><input type="file" name="people"></p>
      <input type="submit" value="ok,submit my information">
    </form>
  </body>
</html>